<div class="container"> 

    <h1 class="center-align">Création d'un voyage</h1>
	<%= form_for @trip, url: trips_path(@trip) do |f| %>
	<div class="row">
        <div class="input-field col s12">
        	<%= f.label "T'es qui ?" %>
        	<%= f.text_field :creator %><br>
        </div>
    </div>
	<div class="row">
        <div class="input-field col s12">
        	<%= f.label "Destination" %>
        	<%= f.text_field :destination %><br>
        </div>
    </div>

    <div class="row">
        <div class="col s6">    
            <input placeholder="Date de départ" type="date" class="datepicker">
        </div>
        
        <div class="col s6">    
            <input placeholder="Date de fin" type="date" class="datepicker">
        </div>
    </div>
    
    <div class="row">
        <div class="input-field col s12">
			<%= f.label "Budget par personne estimé" %>
			<%= f.text_field :budget %><br>
		</div>
	</div>
		<%= f.submit "créer un voyage", class: "btn waves-effect waves-light center-align" %>
        <% end %>
</div>


