<h1><%= @trip.creator %></h1> a proposé <br> 
un trip à <%= @trip.destination %><br> 
Budget estimé <%= @trip.budget %> €<br>

<% @trip.participates.each do |participant| %>
  <%= participant.participant.name %>
<% end %>
  <!-- Modal Trigger -->
  <a class="modal-trigger waves-effect waves-light btn" href="#modal1">Modal</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <%= form_for :participant, url: add_participant_path(@trip) do |f| %>
        <%= f.label :name, "Nom, prénom ou pseudo"%> 
        <%= f.text_field :name %><br />
        <%= f.submit "Ajouter un participant"%>
      <% end %>
    </div>

    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Je suis un footer</a>
    </div>
  </div>
         